@import "tailwindcss";

@import "tailwindcss";

@import "tw-animate-css";

@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
    @keyframes gradient {
        0% {
            background-position: 0% 100%;
        }
        50% {
            background-position: 100% 0%;
        }
        100% {
            background-position: 0% 100%;
        }
    }

    .animated-gradient {
        animation: gradient 60s ease infinite;
    }
}

:root {
    --background: rgb(236 248 254);
    --foreground: rgb(0 3 20);
    --card: rgb(221 238 248);
    --card-foreground: rgb(0 25 44);
    --popover: rgb(242 246 248);
    --popover-foreground: rgb(0 25 44);
    --primary: rgb(32 73 126);
    --primary-foreground: rgb(252 252 252);
    --secondary: rgb(70 124 175);
    --secondary-foreground: rgb(252 252 252);
    --muted: rgb(193 213 225);
    --muted-foreground: rgb(68 69 70);
    --accent: rgb(158 198 219);
    --accent-foreground: rgb(0 25 44);
    --destructive: rgb(168 62 62);
    --border: rgb(167 189 205);
    --input: rgb(76 147 194);
    --ring: rgb(89 127 145);
    --chart-1: rgb(53 120 192);
    --chart-2: rgb(57 130 28);
    --chart-3: rgb(160 115 19);
    --chart-4: rgb(181 74 74);
    --chart-5: rgb(102 62 117);
    --sidebar: rgb(236 248 254);
    --sidebar-foreground: rgb(0 3 20);
    --sidebar-primary: rgb(177 228 251);
    --sidebar-primary-foreground: rgb(0 25 44);
    --sidebar-accent: rgb(15 119 189);
    --sidebar-accent-foreground: rgb(252 252 252);
    --sidebar-border: rgb(229 229 229);
    --sidebar-ring: rgb(89 127 145);

    --font-sans: Inter, sans-serif;
    --font-serif: Lora, serif;
    --font-mono:
        "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular,
        Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --radius: 0.625rem;

    --shadow-2xs: 0 1px 3px 0px rgb(43 90 125 / 0.05);
    --shadow-xs: 0 1px 3px 0px rgb(43 90 125 / 0.05);
    --shadow-sm:
        0 1px 3px 0px rgb(43 90 125 / 0.1), 0 1px 2px -1px rgb(43 90 125 / 0.1);
    --shadow:
        0 1px 3px 0px rgb(43 90 125 / 0.1), 0 1px 2px -1px rgb(43 90 125 / 0.1);
    --shadow-md:
        0 1px 3px 0px rgb(43 90 125 / 0.1), 0 2px 4px -1px rgb(43 90 125 / 0.1);
    --shadow-lg:
        0 1px 3px 0px rgb(43 90 125 / 0.1), 0 4px 6px -1px rgb(43 90 125 / 0.1);
    --shadow-xl:
        0 1px 3px 0px rgb(43 90 125 / 0.1), 0 8px 10px -1px rgb(43 90 125 / 0.1);
    --shadow-2xl: 0 1px 3px 0px rgb(43 90 125 / 0.25);
}

.dark {
    --background: rgb(0 25 44);
    --foreground: rgb(250 250 250);
    --card: rgb(0 3 20);
    --card-foreground: rgb(236 248 254);
    --popover: rgb(0 3 20);
    --popover-foreground: rgb(236 248 254);
    --primary: rgb(177 228 251);
    --primary-foreground: rgb(0 3 20);
    --secondary: rgb(236 248 254);
    --secondary-foreground: rgb(0 25 44);
    --muted: rgb(31 48 71);
    --muted-foreground: rgb(196 196 196);
    --accent: rgb(31 86 122);
    --accent-foreground: rgb(240 240 240);
    --destructive: rgb(161 79 79);
    --border: rgb(35 60 77);
    --input: rgb(35 97 164);
    --ring: rgb(177 228 251);
    --chart-1: rgb(82 165 255);
    --chart-2: rgb(136 208 108);
    --chart-3: rgb(221 175 75);
    --chart-4: rgb(255 138 138);
    --chart-5: rgb(206 135 232);
    --sidebar: rgb(0 3 20);
    --sidebar-foreground: rgb(240 240 240);
    --sidebar-primary: rgb(236 248 254);
    --sidebar-primary-foreground: rgb(0 25 44);
    --sidebar-accent: rgb(177 228 251);
    --sidebar-accent-foreground: rgb(0 3 20);
    --sidebar-border: rgb(35 60 77);
    --sidebar-ring: rgb(177 228 251);

    --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
    --shadow-sm:
        0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-md:
        0 1px 3px 0px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.1);
    --shadow-lg:
        0 1px 3px 0px rgb(0 0 0 / 0.1), 0 4px 6px -1px rgb(0 0 0 / 0.1);
    --shadow-xl:
        0 1px 3px 0px rgb(0 0 0 / 0.1), 0 8px 10px -1px rgb(0 0 0 / 0.1);
    --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
