@import "tailwindcss";

@theme base {
    /* --color-black: #000000; */
    /* --color-oxford-blue: #14213dff; */
    /* --color-orange-web: #fca311ff; */
    /* --color-platinum: #e5e5e5ff; */
    /* --color-white: #333333; */

    /* --color-rich-black: #00072d; */
    /* --color-oxford-blue: #001d3dff; */
    /* --color-yale-blue: #003566ff; */
    /* --color-mikado-yellow: #a6e1fa; */
    /* --color-gold: #ffd60aff; */

    --color-rich-black: #000314;
    --color-oxford-blue: #00192c;
    --color-honolulu-blue: #0f77bd;
    --color-columbia-blue: #b1e4fb;
    --color-alice-blue: #ecf8fe;
    --color-tea-rose: #ffadad;
    --color-vanilla: #fff5b5;
    --color-tea-green: #d6ffc2;
    --color-white: #f0f0f0;
}
@layer components {
    .section-container {
        @apply w-full h-fit max-w-4xl bg-rich-black border border-columbia-blue rounded-2xl p-4 py-6 flex flex-col sm:px-10 sm:py-10;
    }
}
