.checklist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 250px;

    visibility: hidden;
    position: absolute;
    /* transition: 50ms ease-in-out; */
    background-color: var(--md-sys-color-surface-container-low);
    border-radius: 28px;
    align-self: center;
    top: 70%;
    z-index: 1;
}

.checklist-container.active {
    visibility: visible;
}

.close-checklist-button {
    display: inline-flex;
    width: 24px;
    height: 24px;
    margin-right: -5px;
    margin-top: -9px;
    border: none;
    border-radius: 12px;
    align-self: flex-end;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-checklist-button:hover {
    background-color: var(--md-sys-color-secondary-container);
}

.checklist-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
    grid-gap: 15px;
}

.checklist-title {
    display: inline-block;
    margin-bottom: 5px;
    color: var(--md-sys-color-on-surface);
    font-size: 18px;
    font-weight: 550;
}


.check-name-card {
    display: flex;
    align-items: center;
    align-content: flex-start;
}

.checkbox-name, .checkbox-all{
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    align-items: center;
}

.name-checklist {
    display: inline-block;
    margin-left: 10px;
    color: var(--md-sys-color-on-surface);
    font-size: 14px;
}

input[type="checkbox"] {
    /* appearance: none; */
    background-color: var(--md-sys-color-primary);
    margin: 0;
    display: grid;
    place-content: center;
    font: inherit;
    color: var(--md-sys-color-primary);
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(+0.075em);
    filter: grayscale(1);
    cursor: pointer;
}

.save-checklist-button {
    display: inline;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 550;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
    color: var(--md-sys-color-primary);
    align-self: flex-end;
}

.save-checklist-button:hover {
    background-color: var(--md-sys-color-primary-container);
}
