.add-bill-button { /* Same as done-bill-button */
    display: none;
    align-self: flex-start;
    flex-direction: row;
    height: 40px;
    padding-left: 16px;
    padding-right: 24px;
    margin-left: 10px;
    font-weight: 550;
    border: none;
    border-radius: 20px;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}


.popup-bill-form {
    display: none;
    flex-direction: column;
    padding: 24px;
    padding-top: 42px;
    padding-bottom: 10px;
    border-radius: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: var(--md-sys-color-surface-container-low);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-popup-bill-button {
    display: inline-flex;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 12px;
    align-self: flex-end;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

.close-popup-bill-button:hover {
    background-color: var(--md-sys-color-secondary-container);
}

.equal-bill-mode-button, .unequal-bill-mode-button {
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 36px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 0.1pt;
    color: var(--md-sys-color-on-surface);
}

.equal-bill-mode-button:hover, .unequal-bill-mode-button:hover {
    background-color: var(--md-sys-color-surface-container-high);
}

.equal-bill-mode-button:active, .unequal-bill-mode-button:active {
    background-color: var(--md-sys-color-primary-container);
}

.input-bill-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.input-bill-name {
    border: none;
    border-bottom: 1px solid var(--md-sys-color-outline);
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 0.2pt;
    font-weight: 550;
    background-color: transparent;
    color: var(--md-sys-color-on-surface);
}

.input-bill-name:focus {
    outline: none;
    border-bottom: 2px solid var(--md-sys-color-primary);
}

.input-bill-amount, .input-bill-person {
    font-size: 16px;
    display: inline;
    width: 230px;
    border: none;
    border-bottom: 1px solid var(--md-sys-color-outline);
    padding-bottom: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: transparent;
    color: var(--md-sys-color-on-surface);
}

.input-bill-amount:focus, .input-bill-person:focus {
    outline: none;
    border-bottom: 2px solid var(--md-sys-color-primary);
}

.input-bill-amount-container, .share-group-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-group-container {
    margin-top: 2px;
}

.input-per-person-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.input-per-person-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--md-sys-color-on-surface);
}

.per-person-name {
    display: inline;
    margin-right: 5px;
    width: 30%;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.per-person-amount {
    font-size: 16px;
    display: inline;
    border: none;
    border-bottom: 1px solid var(--md-sys-color-outline);
    padding-bottom: 2px;
    margin-right: 0px;
    width: 50%;
    background-color: transparent;
    color: var(--md-sys-color-on-surface);
    margin-top: 10px;
    margin-bottom: 5px;
}

.per-person-amount:focus {
    outline: none;
    border-bottom: 2px solid var(--md-sys-color-primary);
}



.calculator-button, .edit-share-button {
    display: flex;
    width: 34px;
    height: 34px;
    margin-left: 5px;
    border: none;
    border-radius: 17px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.calculator-button:hover, .edit-share-button:hover {
    background-color: var(--md-sys-color-secondary-container);
}


.share-group {
    margin-top: 8px;
    margin-bottom: 5px;
    width: 230px;
    color: var(--md-sys-color-on-surface);
}

.add-icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 0px;
}

.add-bill-button:hover {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.save-bill-button {
    display: inline;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    align-self: flex-end;
    font-weight: 550;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: var(--md-sys-color-primary);
}

.save-bill-button:hover {
    background-color: var(--md-sys-color-primary-container);
}

.bill-card-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}



.bill-card {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 12px;
    background-color: var(--md-sys-color-surface-container-highest);
    align-items: left;
    justify-content: space-between;
    margin-bottom: 8px;
}

.bill-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    width: 90%;
}

.bill-name {
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 10px;
    color: var(--md-sys-color-on-surface);
    margin-top: 16px;
}


.bill-amount-person-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bill-amount, .bill-person {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 15px;
    color: var(--md-sys-color-on-surface);
}

.bill-share {
    margin-bottom: 16px;
    font-size: 14px;
    color: var(--md-sys-color-on-surface);
}

.bill-button-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 8px;
}

.delete-bill-button, .edit-bill-button {
    display: inline-flex;
    width: 34px;
    height: 34px;
    border: none;
    margin-bottom: 4px;
    border-radius: 17px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.delete-bill-button:hover, .edit-bill-button:hover {
    background-color: var(--md-sys-color-surface-container);
}

.done-bill-button {
    display: none;
    align-self: flex-end;
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
    font-weight: 550;
    border: none;
    border-radius: 20px;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.1pt;
}

.done-bill-button:hover {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2); 
}

.bill-alert {
    margin-left: 10px;
    display: flex;
    font-size: small;
    color: var(--md-sys-color-error);
    align-items: center;
}