.add-bill-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

.add-bill-button { /* Same as done-bill-button */
    display: inline-flex;
    align-self: flex-start;
    flex-direction: row;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    font-weight: 550;
    border: none;
    border-radius: 17px;
    background-color: rgb(173, 173, 173);
    color: black;
    cursor: pointer;
    font-size: 1em;
    justify-content: center;
    align-items: center;
}


.popup-bill-form {
    display: none;
    flex-direction: column;
    padding: 15px;
    padding-top: 5px;
    padding-right: 0px;
    border-radius: 19px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid rgb(139, 139, 139);
}

.close-popup-bill-button {
    display: inline-flex;
    width: 34px;
    height: 34px;
    margin-right: 5px;
    border: none;
    border-radius: 17px;
    align-self: flex-end;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-popup-bill-button:hover {
    background-color: rgb(236, 236, 236);
}

.equal-bill-mode-button, .unequal-bill-mode-button {
    display: inline-flex;
    margin-left: 5px;
    margin: 5px;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    border-radius: 17px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.95em;
    font-weight: 550;
}

.bill-mode-button:hover {
    background-color: rgb(236, 236, 236);
}

.bill-mode-button:active {
    background-color: rgb(139, 139, 139);
}

.input-bill-container {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.input-bill-name {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin: 5px;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: 550;
}

.input-bill-name:focus {
    outline: none;
    border-bottom: 1px solid rgb(139, 139, 139);
}

.input-bill-amount, .input-bill-person {
    font-size: 1em;
    display: inline;
    width: 80%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin: 5px;
    margin-bottom: 5px;
}

.input-bill-amount:focus, .input-bill-person:focus {
    outline: none;
    border-bottom: 1px solid rgb(139, 139, 139);
}

.input-bill-amount-container, .share-group-container {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-per-person-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin: 7px;
    margin-right: 0px;
}

.input-per-person-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.per-person-name {
    display: inline;
    margin-right: 5px;
    width: 30%;
}

.per-person-amount {
    font-size: 1em;
    display: inline;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin: 5px;
    margin-right: 0px;
    width: 50%;
}

.per-person-amount:focus {
    outline: none;
    border-bottom: 1px solid rgb(139, 139, 139);
}



.calculator-button, .edit-share-button {
    display: flex;
    width: 34px;
    height: 34px;
    margin-left: 5px;
    border: none;
    border-radius: 17px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.calculator-button:hover, .edit-share-button:hover {
    background-color: rgb(236, 236, 236);
}


.share-group {
    padding: 2px;
    margin: 5px;
    margin-bottom: 5px;
    width: 80%;
}

.add-icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 0px;
}

.add-bill-button:hover {
    background-color: rgb(217, 217, 217);
}

.save-bill-button {
    display: inline;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 15px;
    margin-top: 10px;
    font-weight: 600;
    border: none;
    border-radius: 17px;
    background-color: rgb(0, 135, 68);
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.save-bill-button:hover {
    background-color: rgb(0, 115, 58);
}

.bill-card-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}



.bill-card {
    display: flex;
    padding: 6px;
    border-radius: 18px;
    background-color: rgb(200, 200, 200);
    align-items: left;
    justify-content: space-between;
    margin-bottom: 2px;
}

.bill-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    width: 90%;
}

.bill-name {
    font-size: 1em;
    font-weight: 550;
    margin: 3px;
    padding-left: 5px;
    padding-bottom: 1px;
}


.bill-amount-person-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bill-amount, .bill-person {
    display: inline-block;
    font-size: 0.9em;
    margin: 3px;
    margin-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
}

.bill-share {
    margin: 3px;
    padding-left: 5px;
    padding-bottom: 1px;
    font-size: 0.9em;
}

.bill-button-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.delete-bill-button, .edit-bill-button {
    display: inline-flex;
    width: 34px;
    height: 34px;
    margin-left: 5px;
    border: none;
    border-radius: 17px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.delete-bill-button:hover, .edit-bill-button:hover {
    background-color: rgb(217, 217, 217);
}

.done-bill-button {
    display: inline-block;
    align-self: flex-end;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 600;
    border: none;
    border-radius: 17px;
    background-color: rgb(0, 135, 68);
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.done-bill-button:hover {
    background-color: rgb(0, 115, 58);
}

.bill-alert {
    margin-left: 10px;
    display: flex;
    font-size: small;
    color: rgb(214,45,32);
    align-items: center;
}