.result-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px
}

.sender-container, .receiver-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  width: 95%;
  padding-right: 10px;
  margin-bottom: 10px;
  color: var(--md-sys-color-on-surface);
}

.sender-container + .receiver-container {
    border-top: none;
}